---
layout: default
resume: I am a blah. I like to spend most of the time blah.
---
<section class="hello">
	<div class="container">
		<h1><span>Hello</span></h1>
		<p>My name is blahi and I am a blah.
		I like to spend most of the time blah.
		</p>
		<p>If you think I can help you in your projects, <a href="mailto:jmenichelli@gmail.com">just let me know</a>!</p>
	</div>
</section>

{% if site.posts.size > 0 %}
<section class="hello-blog">
	<div class="container">
		<h2>Blog</h2>
		<p>I also write about some thoughts I have, most of them about coding.</p>
		<div class="card-highlight">
			<div class="card-highlight-date">
				<span class="last-post">Last Post</span>
				<span>{{ site.posts[0].date | date : '%d %b %Y' }}</span>
			</div>
			<h3>{{ site.posts[0].title }}</h3>
			{% if site.posts[0].resume.size > 0 %}
				<p class="resume">{{ site.posts[0].resume }}</p>
			{% endif %}
			<a class="cta-btn" href="{{ site.posts[0].url }}">Go to the post</a>
		</div>
	</div>
</section>
{% endif %}

<section class="main">
	<div class="container">
		<h2><span>Publications</span></h2>
		<p>blah.</p> 
	</div>
	<div class="container">
		<h2><span>Papers</span></h2>
		<p>Blah...</p>
		{% for r in site.data.publications %}
			<div class="card-highlight">
				<h3>{{ r.name }}</h3>
				<p>{{ r.description}}</p>
				<a href="https://github.com/jeremenichelli/{{ r.slug }}" class="cta-btn" target="_blank">Go to the repo</a>
			</div>
		{% endfor %}
	</div>
</section>

<section class="main">
	<div class="container">
		<h2><span>Projects</span></h2>
		<p>blah.</p> 
	</div>
	<div class="container">
		<h2><span>Stuff on GitHub</span></h2>
		<p>Blah...</p>
		{% for r in site.data.publications %}
			<div class="card-highlight">
				<h3>{{ r.name }}</h3>
				<p>{{ r.description}}</p>
				<a href="https://github.com/jeremenichelli/{{ r.slug }}" class="cta-btn" target="_blank">Go to the repo</a>
			</div>
		{% endfor %}
	</div>
</section>
