.cta-btn {
    background-color: $mainColor;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.cta-btn:hover {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
