.cta-btn {
    background-color: $mainColor;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.cta-btn:hover {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.card-highlight {
    border-left: solid 3px $mainColor;
    padding: 0 0 0 20px;
    margin: 35px 0 0;
}

.card-highlight-date {
    display: block;
    font-size: .875em; /* 14px */
    font-weight: 700;
    margin: 0 0 -10px;
    text-transform: uppercase;

    .last-post {
        color: #666666;
    }

    + h3 {
        line-height: 1.07142857em; /* 30px */
        margin: 10px 0 15px;
    }
}

section {
    background: $mainBackgroundColor;

    a:hover {
        text-decoration: underline;
    }

    .container {
        padding-top: 50px;
        padding-botton: 50px;
    }
}

section.hello {

    h1, h2 {

        span {
            border-bottom: solid 4px $lineColor;
        }
    }
}

section.hello-blog {
    background: $blogColor;
}

section.blog-main {

    h1, h2 {

        span {
            border-bottom: solid 4px $blogColor;
        }
    }

    ul {
        list-style: disc;
        list-style-position: inside;
        margin: 0 0 20px;

        li {
            line-height: 1.5em;
        }
    }
}

section.main {

    .container + .container {
        padding-top: 0;
    }

    h1, h2 {

        span {
            border-bottom: solid 4px $lineColor;
        }
    }
}

section.about {
    background: $thirdColor;

    h3 {
        margin: 0;
    }
}
