
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Section colors
$mainColor: #333333;
$helloColor: #92E4C9;
$blogColor: #FFC94E;
$thirdColor: #85D6E4;

// Font stacks
$helvetica: Roboto, Helvetica, Arial, sans-serif;
$helveticaNeue: 'Roboto Slab', Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
