
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Section colors
$mainColor: #333;
$lineColor: #ffc94e;
$blogColor: #ffc94e;
$thirdColor: #85d6e4;
$mainBackgroundColor: #fff;

// Font stacks
$helvetica: Roboto, Helvetica, Arial, sans-serif;
$helveticaNeue: 'Roboto Slab', Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
